<div id="popup" class="popup">
  <div class="popup__content">
      {{{pageTitle}}}
    <form id="popupForm">
      <label class="label" for={{nameInput}}>
        {{labelInput}}
        {{{input}}}
        <span class="error"></span>
      </label>
      {{{popupFormButton}}}
    </form>
  </div>
</div>
