<div id={{popupId}} class="popup">
  <div class="popup__content">
      {{{pageTitle}}}
    <form id={{formId}}>
      {{#if input}}
        <label class="label" for={{nameInput}}>
          {{labelInput}}
          {{{input}}}
          <span id="error" class="error"></span>
        </label>
      {{/if}}
      {{#if setFoundUsers}}
          {{{foundUsers}}}
      {{/if}}
        {{{popupFormButtonSearch}}}
        {{{popupFormButtonAdd}}}
        {{{popupFormButtonSave}}}
    </form>
  </div>
</div>
