<section class="chats-page">
  {{{sidebar}}}

  {{#if isChatSelected}}
    {{{chatPage}}}
  {{else}}
    <div class="not-selected-chat">select a chat to send a message</div>
  {{/if}}
  {{{popupAddChat}}}
  {{{popupAddUsersToChat}}}
  {{{popupDeleteUsersFromChat}}}
  {{{popupDeleteChat}}}
</section>
