<section class="page">
  {{{pageTitle}}}

  {{#if isProfileImg}}
    <div class="profile-avatar-container">
      <img alt="profile avatar" class="profile-avatar" src={{urlImg}} />
    </div>

  {{/if}}

  <form class="form">
    {{#each inputs}}
      {{input}}
    {{/each}}
  </form>

  {{{formButton}}}

  {{#if isLink}}
    <a class="link" href={{url}}>{{linkText}}</a>
  {{/if}}
</section>