<section class="page">
  {{{back}}}
  {{{pageTitle}}}

  <div class="profile-avatar-container">
    <img alt="profile avatar" class="profile-avatar" src={{avatarUrlImg}} />
  </div>

  <form class="form">
    {{{inputEmail}}}
    {{{inputLogin}}}
    {{{inputFirstName}}}
    {{{inputSecondName}}}
    {{{inputPhone}}}
    {{{inputPassword}}}
    {{{inputPasswordAgain}}}
  </form>

  {{{formButton}}}

</section>