<section class="page">
  {{{pageTitle}}}

  <form id="form" class="form">
    <label class="label" for={{nameInputLogin}}>
      {{labelInputLogin}}
      {{{inputLogin}}}
      <span class="error"></span>
    </label>

    <label class="label" for={{nameInputPassword}}>
      {{labelInputPassword}}
      {{{inputPassword}}}
      <span class="error"></span>
    </label>
  {{{formButton}}}
  {{!-- <div id="loader" class="hidden">Отправляем...</div> --}}
  </form>

  {{{goBotton}}}

</section>
