<section class="page">
  {{{backButton}}}
  {{{pageTitle}}}

  <form id="form" class="form">
    <label class="label" for={{nameInputOldPassword}}>
      {{labelInputOldPassword}}
      {{{inputOldPassword}}}
      <span class="error"></span>
    </label>
    <label class="label" for={{nameInputPassword}}>
      {{labelInputPassword}}
      {{{inputPassword}}}
      <span class="error"></span>
    </label>
    <label class="label" for={{nameInputPasswordAgain}}>
      {{labelInputPasswordAgain}}
      {{{inputPasswordAgain}}}
      <span class="error"></span>
    </label>
  </form>

  {{{formButton}}}

</section>
