<article class="chat">
  {{{chatAvatar}}}
  <div class="chat__name-message-container">
    {{{chatName}}}
    <p class="chat__message">{{chatMessage}}</p>
  </div>
  <div class="chat__time-number-message-container">
    <time class="chat__time">{{time}}</time>
    <div class="chat__number-messages-wrapper">
      <p class="chat__number-messages">{{numberMessages}}</p>
    </div>
  </div>
</article>