<section class="chat-page">
  <div class="chat-page__header">
    {{{chatAvatar}}}
    <div class="chat-name-wrapper">
      {{{chatName}}}
    </div>
    <button class="chat-page__kebab-menu"></button>
  </div>

  <ul class="messages-list">
    <li class="message-item-left">{{messageContent}}</li>
    <li class="message-item-right"><img
        class="message-item-img"
        src={{urlImg}}
        alt="message photo"
      />
    </li>
  </ul>

  <form id="message-form" class="message-form">
    <span class="form-error"></span>
    <button class="message-form__clip"></button>
    {{{messageInput}}}
    {{{messageSubmitButton}}}
  </form>

</section>
