<section class="page">
  {{{pageTitle}}}

  <form class="form">
    {{{inputEmail}}}
    {{{inputLogin}}}
    {{{inputFirstName}}}
    {{{inputSecondName}}}
    {{{inputPhone}}}
    {{{inputPassword}}}
    {{{inputPasswordAgain}}}
  </form>

  {{{formButton}}}

  <a class="link" href={{url}}>{{linkText}}</a>

</section>