<section class="page">
  {{{pageTitle}}}

  <form id="form" class="form">
    <label class="label" for={{nameInputEmail}}>
      {{labelInputEmail}}
      {{{inputEmail}}}
      <span class="error"></span>
    </label>
    <label class="label" for={{nameInputLogin}}>
      {{labelInputLogin}}
      {{{inputLogin}}}
      <span class="error"></span>
    </label>
    <label class="label" for={{nameInputFirstName}}>
      {{labelInputFirstName}}
      {{{inputFirstName}}}
      <span class="error"></span>
    </label>
    <label class="label" for={{nameInputSecondName}}>
      {{labelInputSecondName}}
      {{{inputSecondName}}}
      <span class="error"></span>
    </label>
    <label class="label" for={{nameInputPhone}}>
      {{labelInputPhone}}
      {{{inputPhone}}}
      <span class="error"></span>
    </label>
    <label class="label" for={{nameInputPassword}}>
      {{labelInputPassword}}
      {{{inputPassword}}}
      <span class="error"></span>
    </label>
    <label class="label" for={{nameInputPasswordAgain}}>
      {{labelInputPasswordAgain}}
      {{{inputPasswordAgain}}}
      <span class="error"></span>
    </label>

    {{{formButton}}}
  </form>


  {{{goBotton}}}

</section>
